In [2]:
import pandas as pd
import time
from IPython.display import display
from typing import List, Dict, Optional

# Data Acquisition & Import

## Primary Data Set and Platforms for Sharing our Data: Replicable Science
The primary data source in this project was the **Million Playlist Dataset** provided by Spotify as part of the RecSys Challenge 2018.
https://labs.spotify.com/2018/05/30/introducing-the-million-playlist-dataset-and-recsys-challenge-2018/
The challenge ended on June 30th of 2018, so we used an archival copy of the dataset provided to us by the course staff.
All source code for this project is on a public GitHub Respository 
https://github.com/IACS-CS-209-Group44/Spotify

Unfortunately, Git and GitHub are not well suited to working on large files, especially large binary files.
Because of the large size of this data set, we were forced to use a shared folder on Dropbox to share large files.
This makes it more challenging for us to share our data with the public and create a conveniently reproducible set of calculations.  We are committed to the goal of fully reproducible science including data science with large files.
For a full scale research undertaking with a suitable budget, two ideas to better achieve this goal would be to host a publicly available database instance using a service like AWS and / or to share a container instance.  These techniques are beyond the scope of this project.  

The data on our Dropbox includes several formats that make it easy to replicate almost all of our work.  The h5 data files allow all of our imported data and results of calculations into Pandas dataframes.  There is also a database backup available in the file `SpotifyDB.bak`.  Warning: this is a bit of a monster, weighing in at **165 GB**, so it's not for the faint of heart.  Anyone with access to a moderately powerful SQL Server instance, either on-premises or on the cloud, can restore this database from 
Anyone who is interested in accessing our dataset may email me at mse99@g.harvard.edu or michael.s.emanuel@gmail.com to request access to this dataset.  Any reasonable request will be granted read only access to the shared folder for as long as it is up.

## The JSON Data Set and the Choice of SQL Server Backend
The data provided by the mpd consists of 1000 json files.  Each file is a "slice" of 1,000 playlists.  There are 1,000 of these slice files that together comprise the 1,000,000 playlists in the data set.  The JSON files are a highly denormalized representation of the data, meaning they have a large amount of duplicated or redundant data.  As one prominent example, each spotify track has a unique identifier, and a track name associated with this identifier.  The JSON files duplicate the full track name when describing each track entry.  We stored the data in a fully normalized format, with separate database tables for the logical entities of a Track, Playlist, PlaylistEntry, etc.  I will describe our data model in greater detail below.  

The choice to use SQL Server as our back end for data was an important strategic decision on this project.  
The JSON respresentation of the data is convenient for a person reviewing the data, but is extremely inefficient for doing large scale computations.  As one example of how slow the JSON / Python API is, the data set comes with some Python utilities that do very simple summary calculations such as tabulating the most popular tracks.  This utility was on pace to take over 90 minutes to run on my desktop PC, which has top of the line hardware for a desktop computer.

It was clear that we needed a far more efficient back end for storing our data in a more normalized form.  Most people in this course would probably have chosen to use Pandas and persisted a series of data frames.  That is a completely sound choice.  In my particular case, I have spent many years working with SQL (first MySQL, then SQL Server).  I have also invested a large amount of time and money configuring an instance of SQL Server running on a high performance server sitting on a rack in my basement.  By comparison, I am very new to Pandas.  I'm now proficient for basic tasks, but I have often spent hours trying to figure out how to do an operation I could do in a matter of minutes in SQL Server.  It is often true that the best tool for a given job is the one you know how to use.  For me and this problem, that tool was SQL Server.

## Data Import into SQL Server
The first step was to understand the data and break it up into logical entities.  Each logical entity corresponds to its own database table.  The four most important logical entities in this data set are Artist, Album, Track, and Playlist.  I am going to go out of order for a moment and jump ahead to the Pandas dataframes that we used for downstream computations.  The code below loads these frames from an h5 data file.  

Before this code will run, please copy the files `data.h5` and `playlist_entry.h5` from the Dropbox folder to the directory where you cloned the GitHub repo.  On my system, the repo is cloned to `D:\IACS-CS-209-Spotify\` and the Dropbox folder is at `D:\Dropbox\IACS-CS-209-Spotify\`.  I copy the file `D:\Dropbox\IACS-CS-209-Spotify\mpd\database_export\h5` into `D:\IACS-CS-209-Spotify\data\data.h5`.  I do the analogous operation for files `playlist_entry.h5` and `track_pair.h5`.

It is possible to automate all of this in a very slick and convenient way using GitHub LFS.  https://git-lfs.github.com/
But this is a paid service that costs at least \$10 a month, possibly quite a bit more given the size of this data set.  I spent several hours investigating alternatives that would allow us to bypass this manual copy step to synchronize the Dropbox folder, but did not come up with a better procedure.  Once the file `data.h5` is in place, the code below will load the data frames for Artist, Album, Track, and Playlist into memory.

In [7]:
def load_frames(frame_names: Optional[List[str]] = None) -> Dict[str, pd.DataFrame]:
    """Load all available data frames.  Return a dictionary keyed by frame_name."""
    # Relative path to h5 data files
    path_h5 = '../data/'
    
    # Dictionary of dataframes to be generated.
    # Key = frame name, value = fname_h5
    frame_tbl: Dict[str, str] = {
        # Basic schema
        'Artist': 'data.h5',
        'Album': 'data.h5',
        'Track': 'data.h5',
        'Playlist': 'data.h5',
    
        # Tables relating to prediction outcomes and scoring
        'TrainTestSplit': 'data.h5',
        'Playlist_Last10': 'data.h5',
        'Playlist_trn': 'data.h5',
        'Playlist_tst': 'data.h5',
        
        # Tables relating to the baseline and playlist name prediction models
        'TrackRank': 'data.h5',
        'PlaylistName': 'data.h5',
        'PlaylistSimpleName': 'data.h5',
        'TrackRankBySimpleName': 'data.h5',
    
        # PlaylistEntry table is big - saved int its own file
        'PlaylistEntry': 'playlist_entry.h5',
    
        # Audio features
        'AudioFeatures': 'data.h5',
        'Genre': 'data.h5',
        'MetaGenre': 'data.h5',
        'TrackGenre': 'data.h5',
        'TrackMetaGenre': 'data.h5',
        
        # TrackPairs table is big - saved in its own file
        'TrackPairs': 'track_pairs.h5',
        
        # Scores of three models: baseline, playlist name, naive bayes
        'Scores_Baseline': 'data.h5',
        'Scores_SimpleName': 'data.h5',
        'Scores_TrackPair': 'data.h5',
        'Scores_Stack': 'data.h5',
        
        # Survey responses
        'SurveyResponse': 'data.h5',
        'SurveyPlaylist': 'data.h5',
        'SurveyPlaylistEntry': 'data.h5',

        # Artists being promoted by policy (mid-tier, female)
        'PromotedArtist': 'data.h5',

        # Survey recommendations
        'SurveyRecommendations': 'data.h5',
        'SurveyRecommendationsPromoted': 'data.h5',
        }
    
    # Set frame_names to all tables if it was not specified
    if frame_names is None:
        frame_names = frame_tbl.keys()
    
    # Start timer
    t0 = time.time()
    # Dictionary of data frames
    frames: Dict[str, pd.DataFrame] = dict()
    # Iterate over entries in frame_names, loading them from h5 files
    for frame_name in frame_names:
        # h5 filename for this frame
        fname_h5 = frame_tbl[frame_name]
        # Read the data frame
        frames[frame_name] = pd.read_hdf(path_h5 + fname_h5, frame_name)
        # Status update
        print(f'Loaded {frame_name}.')
    
    # Status update
    t1 = time.time()
    elapsed = t1 - t0
    print(f'\nLoaded {len(frames)} Data Frames.')
    print(f'Elapsed Time: {elapsed:0.2f} seconds.')
    return frames

**Load the frames for Artist, Album, Track, Playlist & PlaylistEntry into memory**

In [13]:
frames = load_frames(['Artist', 'Album', 'Track', 'Playlist', 'PlaylistEntry'])

Loaded Artist.
Loaded Album.
Loaded Track.
Loaded Playlist.
Loaded PlaylistEntry.

Loaded 5 Data Frames.
Elapsed Time: 4.90 seconds.

Notice how much faster and more efficient this is than loading the JSON files.  A fully normalized representation of the An analogous operation run directly on the JSON files took on the order of multiple minutes on my system.

## Data Model for Artist, Album, Track & Playlist

In [14]:
display(frames['Artist'].head(10))

   ArtistID                              ArtistUri                  ArtistName
0         1  spotify:artist:0001cekkfdEBoMlwVQvpLg                Jordan Colle
1         2  spotify:artist:0001wHqxbF2YYRQxGdbyER                Motion Drive
2         3  spotify:artist:0001ZVMPt41Vwzt1zsmuzp                Thyro & Yumi
3         4  spotify:artist:0004C5XZIKZyd2RWvP4sOq  "Faron Young, Nat Stuckey"
4         5  spotify:artist:000DnGPNOsxvqb2YEHBePR                   The Ruins
5         6  spotify:artist:000Dq0VqTZpxOP6jQMscVL               Thug Brothers
6         7  spotify:artist:000h2XLY65iWC9u5zgcL1M                     Kosmose
7         8  spotify:artist:000spuc3oKgwYmfg5IE26s        Parliament Syndicate
8         9  spotify:artist:000UUAlAdQqkTD9sfoyQGf               Darren Gibson
9        10  spotify:artist:000UxvYLQuybj6iVRRCAw1               Primera Etica

In [15]:
display(frames['Album'].head(10))

,AlbumID,AlbumUri,AlbumName
0,1,spotify:album:00010fh2pSk7f1mGIhgorB,Okkadu (Original Motion Picture Soundtrack)
1,2,spotify:album:00045VFusrXwCSietfmspc,Let Love Begin Remixed
2,3,spotify:album:0005lpYtyKk9B3e0mWjdem,Stability
3,4,spotify:album:0005rH90S3le891y5XzPg4,"Mozart: Piano Concerto No. 27, KV595"
4,5,spotify:album:0008WZMLnvEBVnq418uZsI,Smart Flesh
5,6,spotify:album:0009lq7uJ6cW3Cxtf8eNUp,Earth: The Pale Blue Dot (Instrumental)
6,7,spotify:album:000aG92zPFtZ0FRLaaJHE5,X
7,8,spotify:album:000f3dTtvpazVzv35NuZmn,"Make It Fast, Make It Slow"
8,9,spotify:album:000g9ysmwb8NNsd4u1o087,"Nennt es, wie Ihr wollt"
9,10,spotify:album:000gdWY9uR4VYS5oZudY5o,Pérez Prado. Sus 40 Grandes Canciones

In [16]:
display(frames['Track'].head(10))

,TrackID,ArtistID,AlbumID,TrackUri,TrackName
0,1,208716,355266,spotify:track:0000uJA4xCdxThagdLkkLR,Heart As Cold As Stone
1,2,110598,6666,spotify:track:0002yNGLtYSYtc0X6ZnFvp,Muskrat Ramble
2,3,93681,77525,spotify:track:00039MgrmLoIzSpuYKurn9,Thas What I Do
3,4,5377,586855,spotify:track:0003Z98F6hUq7XxqSRM87H,???? ?????? ??? ???
4,5,285766,426742,spotify:track:0004ExljAge0P5XWn1LXmW,Gita
5,6,240510,337666,spotify:track:0005rgjsSeVLp1cze57jIN,Mi Razón de Ser
6,7,111429,625930,spotify:track:0005w1bMJ7QAMl6DY98oxa,"Sonata in G Major, BuxWV 271: Allegro -"
7,8,102394,113691,spotify:track:0006Rv1e2Xfh6QooyKJqKS,Nightwood
8,9,240180,287678,spotify:track:0007AYhg2UQbEm88mxu7js,Mandarin Oranges Part 2
9,10,35528,570255,spotify:track:0009mEWM7HILVo4VZYtqwc,Movement

In [17]:
display(frames['Playlist'].head(10))

,PlaylistID,PlaylistName,NumTracks,NumArtists,NumFollowers,NumEdits,DurationMS,IsCollaborative,ModifiedAt
0,0,Throwbacks,52,37,1,6,11532414,0,1493424000
1,1,Awesome Playlist,39,21,1,5,11656470,0,1506556800
2,2,korean,64,31,1,18,14039958,0,1505692800
3,3,mat,126,86,1,4,28926058,0,1501027200
4,4,90s,17,16,2,7,4335282,0,1401667200
5,5,Wedding,80,56,1,3,19156557,0,1430956800
6,6,I Put A Spell On You,16,13,1,2,3408479,0,1477094400
7,7,2017,53,48,1,38,12674796,0,1509321600
8,8,BOP,46,23,2,21,9948921,0,1508976000
9,9,old country,21,18,1,10,4297488,0,1501804800

In [18]:
display(frames['PlaylistEntry'].head(10))

   PlaylistID  Position  TrackID
0           0         0   236619
1           0         1  1866537
2           0         2   260403
3           0         3   347127
4           0         4   451364
5           0         5   270971
6           0         6  1784688
7           0         7   938244
8           0         8  2145897
9           0         9   776743

### Comments on the Table Design
The design of these database tables follows a few simple best practices.  All tables have an integer ID as their primary key.  This gives a large boost to the performance of queries that join tables.  Searching for an integer entry in an index is a much faster operation than comparings strings.  The original JSON data model did not have any integer IDs for any of these entities besides for the playlist ID.  All entities that exist in Spotify also have a field that Spotify names a Uri.  These are string identefiers.  These fields are equipped with unique constraints, building in both a data integrity check and causing SQL server to build indexes that both enforce the constraint and support fast joins on these fields.

The Track table demonstrates foreign key relationships.  The fields ArtistID and AlbumID are foreign keys onto the Artist and Album tables, respectively.  Note that no redundant information such as the ArtistName or ArtistUri are stored in the Track table.  Any consumer of this information is expected to get it by joining the Artist table using ArtistID.  The foreign key relationships are enforeced with foreign key constraints.  The primary key on the Track table is TrackID, and there is a separate unique constraint on the TrackUri.

This table also demonstrates a consistent naming scheme followed in the SpotifyDB database.  The name of the integer primary key on the table Artist is ArtistID.  This is one popular approach.  Another approach is to name the field ID.  I prefer to name the field ArtistID because then when you join from the Track table to the Artist table, the join clause uses the field AristID on both sides of the equality.  There are multiple naming approaches that are strong.  As is often the case, the most important thing is to pick one strategy and then follow it consistently.

For all you SQL aficianados out there, below please find the SQL table definitions for the main logical entities comprising the MPD dataset.  (Don't worry, I won't include all 42 tables in the database, just a few of the important ones!).  The entirety of the SQL used in this project can be found in the `sql` directory under the GitHub repo.  The files are named with a numeric prefix, so that tables are built in the correct order.  As an example, the Track table references the Artist and Album tables, so Artist and Album must be created first.  The relevant SQL scripts are named `03_MakeTable_Artist.sql`,  `04_MakeTable_Album.sql`, and `05_MakeTable_Track.sql`.

### SQL Table Definitions for Main Logical Entities

**Artist** / Script `03_MakeTable_Artist.sql`

```mysql
DROP sequence IF EXISTS dbo.SEQ_ArtistID
CREATE sequence dbo.SEQ_ArtistID
  AS INT start WITH 1 increment BY 1 NO cycle;
  
DROP TABLE IF EXISTS dbo.Artist;
CREATE TABLE dbo.Artist(
ArtistID INT NOT NULL
  DEFAULT next value FOR dbo.SEQ_ArtistID,
ArtistUri CHAR(37) NOT NULL,
ArtistName VARCHAR(512) NOT NULL,
-- Primary Key and Unique constraints
CONSTRAINT PK_Artist_ArtistID PRIMARY KEY (ArtistID),
CONSTRAINT UNQ_Artist_ArtistUri UNIQUE(ArtistUri),
-- ArtistName should be unique, but unfortunately it's not; index it instead
INDEX IDX_Artist_ArtistName (ArtistName),
);
```

**Album** / Script `04_MakeTable_Album.sql`

```mysql
DROP sequence IF EXISTS dbo.SEQ_AlbumID
CREATE sequence dbo.SEQ_AlbumID
  AS INT start WITH 1 increment BY 1 NO cycle;
  
DROP TABLE IF EXISTS dbo.Album;
CREATE TABLE dbo.Album(
AlbumID INT NOT NULL
  DEFAULT next value FOR dbo.SEQ_AlbumID,
AlbumUri CHAR(36) NOT NULL,
AlbumName VARCHAR(512) NOT NULL,
-- Primary Key and Unique constraints
CONSTRAINT PK_Album_AlbumID PRIMARY KEY (AlbumID),
CONSTRAINT UNQ_Album_AlbumUri UNIQUE(AlbumUri),
-- AlbumName should be unique, but unfortunately it's not; index it instead
INDEX IDX_Album_AlbumName (AlbumName),
);
```

**Track** / Script `05_MakeTable_Track.sql`

```mysql
DROP sequence IF EXISTS dbo.SEQ_TrackID
CREATE sequence dbo.SEQ_TrackID
  AS INT start WITH 1 increment BY 1 NO cycle;
  
DROP TABLE IF EXISTS dbo.Track;
CREATE TABLE dbo.Track(
TrackID INT NOT NULL
  DEFAULT next value FOR dbo.SEQ_TrackID,
ArtistID INT NOT NULL,
AlbumID INT NOT NULL,
TrackUri CHAR(36) NOT NULL,
TrackName VARCHAR(512) NOT NULL,
-- Primary Key and Unique constraints
CONSTRAINT PK_Track_TrackID PRIMARY KEY (TrackID),
CONSTRAINT UNQ_Track_TrackUri UNIQUE(TrackUri),
-- TrackName should be unique, but unfortunately it's not; index it instead
INDEX IDX_Track_TrackName (TrackName),
-- Foreign keys on ArtistID and AlbumID
CONSTRAINT FK_Track_ArtistID FOREIGN KEY (ArtistID) 
  REFERENCES dbo.Artist(ArtistID),
CONSTRAINT FK_Track_AlbumID FOREIGN KEY (AlbumID) 
  REFERENCES dbo.Album(AlbumID)
);
```

**Playlist** / Script `06_MakeTable_Playlist.sql`

```mysql
CREATE TABLE dbo.Playlist(
PlaylistID INT NOT NULL,
PlaylistName varchar(100) NOT NULL,
-- Playlist attributes
NumTracks SMALLINT NOT NULL,
NumArtists SMALLINT NOT NULL,
NumFollowers INT NOT NULL,
NumEdits SMALLINT NOT NULL,
DurationMS INT NOT NULL,
IsCollaborative BIT NOT NULL,
ModifiedAt INT NOT NULL,
-- Primary key
CONSTRAINT PK_Playlist_PlaylistID PRIMARY KEY (PlaylistID),
-- Indices
INDEX IDX_Playlist_PlaylistName (PlaylistName),
INDEX IDX_Playlist_NumFollowers(NumFollowers),
);
```

**PlaylistEntry** / Script `07_MakeTable_PlaylistEntry.sql`

```mysql
CREATE TABLE dbo.PlaylistEntry(
PlaylistID INT NOT NULL,
Position SMALLINT NOT NULL,
TrackID INT NOT NULL,
-- Primary key is the pair of the PlaylistID and Position
CONSTRAINT PK_PlaylistEntry PRIMARY KEY (PlaylistID, Position),
-- Foreign keys
CONSTRAINT FK_PlaylistEntry_PlaylistID
  FOREIGN KEY (PlaylistID) REFERENCES dbo.Playlist(PlaylistID),
CONSTRAINT FK_PlaylistEntry_TrackID
  FOREIGN KEY (TrackID) REFERENCES dbo.Track(TrackID),
);
```

## Importing the Raw Data into SQL Server

These empty tables are very nice and clean, but they don't look anything like the quite bloated JSON files.  How were they populated?  I used a two step process.  In the first step, I populated "raw" tables for Playlist and PlaylistEntry that followed the structure of the JSON file contents much more closely.  These are the definitions of the raw tables; they have the same table names as their sister tables in the main database, but are stored in a different schema `r` (for raw) rather than the gnomically named schema `dbo` which is the default schema in SQL Server, and short for DataBaseOwner.

**Raw Table r.Playlist** / Script `01_MakeTable_r_Playlist`
```mysql
CREATE TABLE r.Playlist(
PlaylistID INT NOT NULL,
PlaylistName VARCHAR(1024) NOT NULL,
-- The number of tracks, albums, and artists on this playlist
NumTracks SMALLINT NOT NULL,
NumAlbums SMALLINT NOT NULL,
NumArtists SMALLINT NOT NULL,
-- Additional information about the playlist
NumFollowers INT NOT NULL,
NumEdits SMALLINT NOT NULL,
DurationMS INT NOT NULL,
IsCollaborative BIT NOT NULL,
ModifiedAt INT NOT NULL,
-- Primary Key and indices
CONSTRAINT PK_r_Playlist_PlaylistID PRIMARY KEY (PlaylistID),
INDEX IDX_r_Playlist_PlaylistName (PlaylistName)
)
```

**Raw Table r.PlaylistEntry** / Script `02_MakeTable_r_PlaylistEntry`
```
CREATE TABLE r.PlaylistEntry(
PlaylistID INT NOT NULL,
Position SMALLINT NOT NULL,
-- The track
TrackUri VARCHAR(256) NOT NULL,
TrackName VARCHAR(1024) NOT NULL,
-- The album
AlbumUri VARCHAR(256) NOT NULL,
AlbumName VARCHAR(1024) NOT NULL,
-- The artist
ArtistUri VARCHAR(256) NOT NULL,
ArtistName VARCHAR(1024) NOT NULL,
-- Additional track info
TrackDurationMS INT NOT null
-- Primary Key and indices
CONSTRAINT PK_r_PlaylistEntry PRIMARY KEY (PlaylistID, Position),
INDEX IDX_r_PlaylistEntry_Tracks (TrackUri, TrackName),
INDEX IDX_r_PlaylistEntry_Albums (AlbumUri, AlbumName),
INDEX idx_r_PlaylistEntry_Artists (ArtistUri, ArtistName)
)
```

The cells below present the contents of the file `src/db_import.py`.  This program was run from the terminal and it populated the two raw tables **r.Playlist** and **r.PlaylistEntry** by reading the JSON files.  In principle, someone trying to replicate our work could run this script on their local system.  They would need to modify the function `getConnection()` though because it is currently configured to acquire a connection to my database instance, which is on a server named `Thor` and an instance named `Mjolnir`.  (Of course, if the user is a fan of Norse mythology or the Marvel Universe, they might *already* have a SQL Server Instance with this name, but it seems... unlikely.)  Just change `Thor` to the name of your SQL Server and `Mjolnir` to the name of your instance and it should work with an on-premises setup.  I don't know the exact steps to configure it on AWS but it should be straightforward.

In [20]:
from sys import argv
import os
import json
import pyodbc
import time
from typing import List, Tuple, Dict


# *********************************************************************************************************************
# Mapping from strings to bool for IsCollaborative field
str2bool: Dict[str, bool] = {
        'true': True,
        'false': False,
        }


def get_insertions(fname: str) -> Tuple[List[Tuple], List[Tuple]]:
    """
    Read the mpd slice with this filename.
    Returns two lists of tuples, inserts_playlist and inserts_tracks.
    Each entry is a tuple matching one record on the r.Playlist and r.PlaylistEntry tables, respectively.
    """
    # Reference external variable used
    global str2bool
    # Open the file
    with open(fname) as fh:
        # Read the json contents
        js = fh.read()
    # Read in the data as a JSON object
    mpd_slice = json.loads(js)
    # Extract the playlists field from the slice
    playlists = mpd_slice['playlists']
    # Length (should be 1000)
    playlist_count: int = len(playlists)

    # Preallocate list of rows to be inserted for the Playlist table
    rows_playlist: List[Tuple] = playlist_count * [None]
    # Initialize an empty list of rows to be inserted for the PlaylistEntry table (we don't know its length yet)
    rows_playlist_entry: List[Tuple] = list()

    # Iterate over each playlist in the slice
    for i, playlist in enumerate(playlists):
        # Get the attributes of this playlist
        # Name attributes consistent with the database naming scheme
        # ID and name
        PlaylistID: int = playlist['pid']
        PlaylistName: str = playlist['name']
        # Number of tracks, albums, and artits
        NumTracks: int = playlist['num_tracks']
        NumAlbums: int = playlist['num_albums']
        NumArtists: int = playlist['num_artists']
        # Additional info
        NumFollowers: int = playlist['num_followers']
        NumEdits: int = playlist['num_edits']
        DurationMS: int = playlist['duration_ms']
        IsCollaborative: bool = str2bool[playlist['collaborative']]
        ModifiedAt: int = playlist['modified_at']

        # Assemble this into a tuple with one row to be inserted into r.Playlist
        row_playlist: Tuple = (PlaylistID, PlaylistName, NumTracks, NumAlbums, NumArtists,
                               NumFollowers, NumEdits, DurationMS, IsCollaborative, ModifiedAt)
        # Save this row to the inserts
        rows_playlist[i] = row_playlist

        # Get the tracks out of this playlist
        tracks: List[Dict] = playlist['tracks']
        # Iterate over the tracks
        for track in tracks:
            # Get the contents of this track - use database names and order
            # already have PlaylistID above
            Position: int = track['pos']
            # The track
            TrackUri: str = track['track_uri']
            TrackName: str = track['track_name']
            # The album
            AlbumUri: str = track['album_uri']
            AlbumName: str = track['album_name']
            # The artist
            ArtistUri: str = track['artist_uri']
            ArtistName: str = track['artist_name']
            # Duration
            TrackDurationMS: int = track['duration_ms']

            # Assemble this into a tuple with one row to be inserted into r.PlaylistEntry
            row_playlist_entry: Tuple = (PlaylistID, Position, TrackUri, TrackName, AlbumUri, AlbumName,
                                         ArtistUri, ArtistName, TrackDurationMS)
            rows_playlist_entry.append(row_playlist_entry)

    # Return the lists ready to be inserted into r.Playlist and r.PlaylistEntry
    return (rows_playlist, rows_playlist_entry)

In [23]:
# *********************************************************************************************************************
def getConnection() -> pyodbc.Connection:
    """Get database connection"""
    raise RuntimeError('Oops please do not run this again the table is already populated!')
    driver: str = r'{ODBC Driver 13 for SQL Server}'
    server: str = r'THOR\MJOLNIR'
    database: str = 'SpotifyDB'
    auth: str = 'Trusted_Connection=yes;'
    conn_string: str = f'DRIVER={driver};SERVER={server};DATABASE={database};{auth}'
    conn: pyodbc.Connection = pyodbc.connect(conn_string)
    return conn


# *********************************************************************************************************************
def delete_playlist(curs, PlaylistID_Min: int, PlaylistID_Max: int) -> None:
    """
    Deletes a block of rows in DB table r.Playlist
    INPUTS:
    ======
    curs:           Database cursor
    PlaylistID_min:   First PLaylistID to be deleted (inclusive)
    PlaylistID_max:   Last  PLaylistID to be deleted (exclusive)
    """

    # SQL string to delete records for this range of PlaylistID
    sqlDelete = '''
    DELETE FROM r.Playlist WHERE ? <= PlaylistID and PlaylistID < ?
    '''
    # Delete records in this range of PlaylistID
    curs.execute(sqlDelete, PlaylistID_Min, PlaylistID_Max)


def insert_playlist(curs, rows: List[Tuple]):
    """
    Inserts a list of rows into the DB table r.Playlist
    INPUTS:
    ======
    curs:           Database cursor
    rows_playlist:  Row of records to be inserted
    """

    # SQL string to insert ONE record into r.Playslist
    # row_playlist: Tuple = (PlaylistID, PlaylistName, NumTracks, NumAlbums, NumArtists,
    #                        NumFollowers, NumEdits, DurationMS, IsCollaborative, ModifiedAt)
    sqlInsert = '''
    INSERT INTO r.Playlist
    (PlaylistID, PlaylistName, NumTracks, NumAlbums, NumArtists,
    NumFollowers, NumEdits, DurationMS, IsCollaborative, ModifiedAt)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    '''
    # Insert batch of records using executemany method
    curs.executemany(sqlInsert, rows)
    # Commit changes
    curs.commit()


# *********************************************************************************************************************
def delete_playlist_entry(curs, PlaylistID_Min: int, PlaylistID_Max: int) -> None:
    """
    Deletes a block of rows in DB table r.PlaylistEntry
    INPUTS:
    ======
    curs:           Database cursor
    PlaylistID_min:   First PLaylistID to be deleted (inclusive)
    PlaylistID_max:   Last  PLaylistID to be deleted (exclusive)
    """

    # SQL string to delete records for this range of PlaylistID
    sqlDelete = '''
    DELETE FROM r.PlaylistEntry WHERE ? <= PlaylistID and PlaylistID < ?
    '''
    # Delete records in this range of PlaylistID
    curs.execute(sqlDelete, PlaylistID_Min, PlaylistID_Max)


def insert_playlist_entry(curs, rows: List[Tuple]):
    """
    Inserts a list of rows into the DB table r.PlaylistEntry
    INPUTS:
    ======
    curs:           Database cursor
    rows_playlist:  Row of records to be inserted
    """

    # SQL string to insert ONE record into r.PlaylistEntry
    # row_playlist_entry: Tuple = (PlaylistID, Position, TrackUri, TrackName, AlbumUri, AlbumName,
    #                              ArtistUri, ArtistName, TrackDurationMS)
    sqlInsert = '''
    INSERT INTO r.PlaylistEntry
    (PlaylistID, Position, TrackUri, TrackName, AlbumUri, AlbumName, ArtistUri, ArtistName, TrackDurationMS)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    '''
    # Insert batch of records using executemany method
    curs.executemany(sqlInsert, rows)
    # Commit changes
    curs.commit()

In [26]:
# *********************************************************************************************************************
def main():
    # Unpack arguments
    argc: int = len(argv)-1
    if argc == 0:
        sliceMin = 0
        sliceMax = 1000
    if argc == 1:
        sliceMin = 0
        sliceMax = int(argv[1])
    if argc == 2:
        sliceMin: int = int(argv[1])
        sliceMax: int = int(argv[2])
    if argc not in (0, 1, 2):
        print('Usage: python db_import.py sliceMin sliceMax.')
        print('This will insert slices from and including sliceMin, up to but not including sliceMax.')
        return
    # Range of PlaylistID's
    PlaylistID_Min: int = sliceMin * 1000
    PlaylistID_Max: int = sliceMax * 1000
    # Status update
    print(f'Beginning database import from slice {sliceMin} to {sliceMax}, '
          f'i.e. from PlaylistID {PlaylistID_Min} to {PlaylistID_Max}.')

    # Set the path of the MPD directory
    mpd_path = r'D:/Dropbox/IACS-CS-209-Spotify/mpd/data'
    # Move to this directory and get all filesnames; each file is a slice
    os.chdir(mpd_path)
    fnames: List[str] = os.listdir()
    # The size of each slice
    slice_size: int = 1000

    # Make a sorted list of mpd slice files
    fnames_mpd: List[Tuple[str, int]] = list()
    # Iterate over all the files in this directory
    for fname in fnames:
        # Filenames have the format e.g.  "mpd.slice.1000-1999.json"
        # First, check that this is an mpd data slice file; if not, skip it
        is_mpd_file: bool = fname.startswith("mpd.slice.") and fname.endswith(".json")
        if not is_mpd_file:
            continue
        # Extract the PlaylistID range from the file name
        pid_range: str = fname.split('.')[2]
        # The slice is the starting pid / 1000 (integer division)
        sliceNum: int = int(pid_range.split('-')[0]) // slice_size
        # If this slice is in the range, add (fname, sliceNum) to fnames_mpd
        if sliceMin <= sliceNum and sliceNum < sliceMax:
            fnames_mpd.append((fname, sliceNum))
    # Sort this by sliceNum
    fnames_mpd.sort(key=lambda x: x[1])

    # Get a database connection and a cursor; close the connection at the end!
    conn = getConnection()
    curs = conn.cursor()
    # Set mode to fast insertions on execute many
    curs.fast_executemany = True

    # Track progress
    num_processed: int = 0
    num_total: int = sliceMax - sliceMin
    # Start the timer
    t0 = time.time()

    for fname, sliceNum in fnames_mpd:
        # If we get here, this is a valid mpd data file in the range we want to process
        # Get the rows of data to insert into both tables
        rows_playlist, rows_playlist_entry = get_insertions(fname)
        # Range of PlaylistID in this slice
        PlaylistID_Min = min(pl[0] for pl in rows_playlist)
        PlaylistID_Max = max(pl[0] for pl in rows_playlist) + 1

        # Delete records in this range on the table r.Playlist
        delete_playlist(curs, PlaylistID_Min, PlaylistID_Max)
        # Insert records in this range on the table r.Playlist
        insert_playlist(curs, rows_playlist)

        # Delete records in this range on the table r.PlaylistEntry
        delete_playlist_entry(curs, PlaylistID_Min, PlaylistID_Max)
        # Insert records in this range on the table r.PlaylistEntry
        insert_playlist_entry(curs, rows_playlist_entry)

        # Status update
        num_processed += 1
        num_left = num_total - num_processed
        t1 = time.time()
        elapsed_time = t1 - t0
        average_pace = elapsed_time / num_processed
        projected_time = num_left * average_pace
        print(f'Processed slice {sliceNum} in {fname}.  '
              f'Elapsed time {round(elapsed_time)}, projected time {round(projected_time)} seconds.')

    # Close DB connection
    curs.close()
    conn.close()